@page
@model ElTablet.Pages.Questions.IndexModel

@{
    ViewData["Title"] = "الأسئلة";
}

<h2>الأسئلة</h2>

<p class="text-left btn-add">
    <a asp-page="Create">
        <img src="https://cdn4.iconfinder.com/data/icons/simplicio/128x128/notification_add.png">
        إضافة
    </a>
</p>
<table class="table data-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Question[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Question[0].Body)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Question[0].Answers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Question[0].CreatedBy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Question) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Body)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Answers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
